# Virtual environment (never commit this)
.venv/

# Python cache
__pycache__/
*.pyc

# Large libraries you accidentally added
pytorch/

# OS junk
.DS_Store

# YOLO weights (optional but smart)
*.pt

maskrcnn-environment/

yolo-environment/
